<!DOCTYPE html>
<html lang="eng">
<head>
    <title><%= restaurant.name %> | MyRestaurant</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel='stylesheet' href='/stylesheets/deliverers.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/javascripts/administrators.js"></script>
</head>
<body>
    <div>
        <%- include('_navbar') %>
    </div>

    <div class="container mt-4 main-wrapper">
        <div class="container inside-wrapper">
            <div class="container my-5 restaurant-top-container">
                <h1 class="restaurant-main-heading"><%= restaurant.name %></h1>
                <h5 class="d-inline restaurant-address"><%= restaurant.streetName %> <%= restaurant.streetNumber %></h5>
            </div>

            <div class="w-75 menu-wrapper">
                <h3 class="mt-4 mb-3 fw-bold">Orders</h3>

                <% var i = 0; %>
                <% orders.forEach(order => { %>
                    <div class="card w-100 menu-item-card mb-2">
                        <div class="row g-0">
                            <div class="col-9" id="menu-item-desc-div">
                                <div class="card-body">
                                    <h5 class="card-title pb-2 d-flex">
                                        Narudžba <%= ++i; %>
                                    </h5>
                                    <p class="card-text fst-italic"><%= order.orderArticles %></p>
                                    <p class="card-text">Adresa dostave: <%= order.streetName %> <%= order.streetNumber %></p>
                                    <p class="card-text">Vrijeme dostave: <%= order.deliveryTime %></p>
                                    <p class="card-text">Kontakt telefon: <%= order.phoneNumber %></p>
                                    <p class="card-text">Način plaćanja: <%= order.paymentMethod %></p>
                                    <p class="card-text order-price pt-2">
                                        <%= order.price %> KM <!-- cijena narudžbe -->
                                    </p>
                                </div>
                            </div>
                            <% if (order.status === false ) { %>
                                <div class="col-3" id="menu-item-btn-div">
                                    <!-- klikom na ovaj button dostavljac oznacava narudzbu isporucenom -->
                                    <a href="/deliverers/delivered/<%= order._id%>" id="menu-item-order-btn" class="btn btn-primary mx-auto rounded-pill">
                                        <i class="bi-check"></i>
                                    </a>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% })%>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>
